<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between"></div>
  <!-- End Logo -->
  <div>
    <span>
      Vai trò :<span class="fw-bold">{{ role }}</span>
    </span>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle" href="#">
          <i class="bi bi-search"></i>
        </a>
      </li>
      <!-- End Search Icon-->
      <div>
        <span>
          Xin chào: <span class="fw-bold">{{ name || "Not logged in" }}</span>
        </span>
      </div>
      <div class="mx-3">
        <i class="bi bi-box-arrow-right mx-2"></i>
        <span class="fw-bold" (click)="handleLogout()">Đăng xuất</span>
      </div>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
