<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Cập nhật thông tin nhân viên</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="page-home">Trang chủ</a>
                </li>
                <a class="breadcrumb-item">Quản lý nhân viên</a>
                <li class="breadcrumb-item active">Chỉnh sửa thông tin</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Chỉnh sửa thông tin</h5>

                <!-- General Form Elements -->
                <form [formGroup]="editStaffForm"
                    (ngSubmit)="handleEditStaff()">
                    <div class="row mb-3">

                        <input
                            type="text"
                            class="form-control"
                            formControlName="id"
                            hidden
                            required />

                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Tên nhân viên
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="name"
                                required />
                            <div
                                *ngIf="editStaffForm.get('name')?.hasError('required')"
                                class="text-danger">
                                Staff name is required.
                            </div>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Address
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="address"
                                required />
                            <div
                                *ngIf="editStaffForm.get('address')?.hasError('required')"
                                class="text-danger">
                                Address is required.
                            </div>
                        </div>

                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Gender
                            </label>
                            <select
                                class="form-control"
                                formControlName="gender"
                                required>
                                <option value>
                                    Chọn giới tính
                                </option>
                                <option value="Nam">
                                    Nam
                                </option>
                                <option value="Nữ">
                                    Nữ
                                </option>
                                <option value="Khác">
                                    Khác
                                </option>
                            </select>

                            <div
                                *ngIf="editStaffForm.get('gender')?.hasError('required')"
                                class="text-danger">
                                Gender is required.
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <button type="submit"
                                class="btn btn-primary"
                                [disabled]="editStaffForm.invalid">
                                Cập nhật
                            </button>
                        </div>
                    </div>
                </form>
                <!-- End General Form Elements -->
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>