<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Thêm mới sách</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="page-home">Trang chủ</a>
                </li>
                <a class="breadcrumb-item">Quản lý sách</a>
                <li class="breadcrumb-item active">Thêm mới sách</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thêm mới sách</h5>

                <!-- General Form Elements -->
                <form [formGroup]="addNewBookForm"
                    (ngSubmit)="handleAddNewBook()">
                    <div class="row mb-3">
                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Tên sách
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="name"
                                required />
                            <div
                                *ngIf="addNewBookForm.get('name')?.hasError('required')"
                                class="text-danger">
                                Book name is required.
                            </div>
                        </div>
                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Tác giả
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="author"
                                required />
                            <div
                                *ngIf="addNewBookForm.get('author')?.hasError('required')"
                                class="text-danger">
                                Author is required.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Thể loại
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="genre"
                                required />
                            <div
                                *ngIf="addNewBookForm.get('genre')?.hasError('required')"
                                class="text-danger">
                                Genre is required.
                            </div>
                        </div>
                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Số lượng
                            </label>
                            <input
                                type="number"
                                class="form-control"
                                formControlName="quantity"
                                required />
                            <div
                                *ngIf="addNewBookForm.get('quantity')?.hasError('required')"
                                class="text-danger">
                                Quantity is required.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Năm xuất bản
                            </label>
                            <input
                                type="number"
                                class="form-control"
                                formControlName="publicYear"
                                required />
                            <div
                                *ngIf="addNewBookForm.get('publicYear')?.hasError('required')"
                                class="text-danger">
                                PublicYear is required.
                            </div>
                        </div>
                        <div class="col">
                            <label class="col-form-label">
                                <span style="color: red;">*</span> Hình ảnh
                            </label>
                            <input
                                type="file"
                                class="form-control"
                                formControlName="image"
                                accept=".jpg,.jpeg,.png"
                                (change)="convertImageBas64($event)" />
                            <div
                                *ngIf="addNewBookForm.get('image')?.hasError('required')"
                                class="text-danger">
                                Image is required.
                            </div>
                            <div
                                *ngIf="addNewBookForm.get('image')?.hasError('pattern')"
                                class="text-danger">
                                Invalid image format. Supported formats: JPG,
                                JPEG, PNG.
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <button type="submit"
                                class="btn btn-primary"
                                [disabled]="addNewBookForm.invalid">
                                Thêm mới
                            </button>
                        </div>
                    </div>
                </form>
                <!-- End General Form Elements -->
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>